In [1]:
import pandas as pd
import numpy as np
import ast
import nltk

In [2]:
movie = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [4]:
movies1=movie.merge(credits)

movies1.head(1
            )

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies =movies1[["movie_id","keywords","overview","title","cast","genres","crew"]]

In [6]:
movies.head(1)

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.isnull().sum()

movie_id    0
keywords    0
overview    3
title       0
cast        0
genres      0
crew        0
dtype: int64

In [8]:
movies.dropna(inplace=True)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.head(1)

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
def transfer(obj):
    I =[]
    for i in ast.literal_eval(obj):
        I.append(i["name"])
    return I

In [12]:
movies.dropna(inplace=True)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [13]:
movies['genres']=movies['genres'].apply(transfer)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\1251502013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(transfer)

In [14]:
movies.head()

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[Adventure, Fantasy, Action]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[Action, Adventure, Crime]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[Action, Crime, Drama, Thriller]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[Action, Adventure, Science Fiction]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [15]:
movies['keywords']=movies['keywords'].apply(transfer)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\1738964725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(transfer)

In [16]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united statesâ€“mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [17]:
movies.head(1)

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [18]:
def transfer3(obj):
    I =[]
    l = 0
    for i in ast.literal_eval(obj):
        if l<3:
            
            I.append(i["character"])
        l+=1
        
    return I

In [19]:
movies['cast'] = movies['cast'].apply(transfer3)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\1571846763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(transfer3)

In [20]:
def transfer5(obj):
    I =[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            I.append(i["name"])
    return I

In [21]:
movies["crew"]=movies["crew"].apply(transfer5)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\1683400197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["crew"]=movies["crew"].apply(transfer5)

In [22]:
movies.head(1
           )

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Jake Sully, Neytiri, Dr. Grace Augustine]","[Action, Adventure, Fantasy, Science Fiction]",[James Cameron]

In [23]:
movies["overview"]=movies["overview"].apply(split())

NameError: name 'split' is not defined

In [24]:
def transfer6(obj):
    I =[]
    for i in obj:
        I.append(i.replace(" ",""))
    return I

In [25]:
movies.head(1
           )

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Jake Sully, Neytiri, Dr. Grace Augustine]","[Action, Adventure, Fantasy, Science Fiction]",[James Cameron]

In [26]:
movies["keywords"]=movies["keywords"].apply(transfer6)
movies["cast"]=movies["cast"].apply(transfer6)
movies["genres"]=movies["genres"].apply(transfer6)
movies["crew"]=movies["crew"].apply(transfer6)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\2017531037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["keywords"]=movies["keywords"].apply(transfer6)
C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\2017531037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["cast"]=movies["cast"].apply(transfer6)
C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\2017531037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["genres"]=movies["genres"].apply(transfer6)
C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\2017531037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["crew"]=movies["crew"].apply(transfer6)

In [27]:

movies.head()

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[JakeSully, Neytiri, Dr.GraceAugustine]","[Action, Adventure, Fantasy, ScienceFiction]",[JamesCameron]
1,285,"[ocean, drugabuse, exoticisland, eastindiatrad...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[CaptainJackSparrow, WillTurner, ElizabethSwann]","[Adventure, Fantasy, Action]",[GoreVerbinski]
2,206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",A cryptic message from Bondâ€™s past sends him o...,Spectre,"[JamesBond, Blofeld, Madeleine]","[Action, Adventure, Crime]",[SamMendes]
3,49026,"[dccomics, crimefighter, terrorist, secretiden...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[BruceWayne/Batman, AlfredPennyworth, JamesGor...","[Action, Crime, Drama, Thriller]",[ChristopherNolan]
4,49529,"[basedonnovel, mars, medallion, spacetravel, p...","John Carter is a war-weary, former military ca...",John Carter,"[JohnCarter, DejahThoris, Sola]","[Action, Adventure, ScienceFiction]",[AndrewStanton]

In [28]:
movies["overview"]=movies["overview"].apply(lambda x:x.split())

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\229043305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["overview"]=movies["overview"].apply(lambda x:x.split())

In [29]:
movies

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[JakeSully, Neytiri, Dr.GraceAugustine]","[Action, Adventure, Fantasy, ScienceFiction]",[JamesCameron]
1,285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[CaptainJackSparrow, WillTurner, ElizabethSwann]","[Adventure, Fantasy, Action]",[GoreVerbinski]
2,206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bondâ€™s, past, send...",Spectre,"[JamesBond, Blofeld, Madeleine]","[Action, Adventure, Crime]",[SamMendes]
3,49026,"[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[BruceWayne/Batman, AlfredPennyworth, JamesGor...","[Action, Crime, Drama, Thriller]",[ChristopherNolan]
4,49529,"[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[JohnCarter, DejahThoris, Sola]","[Action, Adventure, ScienceFiction]",[AndrewStanton]
...,...,...,...,...,...,...,...
4804,9367,"[unitedstatesâ€“mexicobarrier, legs, arms, paper...","[El, Mariachi, just, wants, to, play, his, gui...",El Mariachi,"[ElMariachi, BigotÃ³n, Mauricio(Moco)]","[Action, Crime, Thriller]",[RobertRodriguez]
4805,72766,[],"[A, newlywed, couple's, honeymoon, is, upended...",Newlyweds,"[Buzzy, Linda, Marsha]","[Comedy, Romance]",[EdwardBurns]
4806,231617,"[date, loveatfirstsight, narration, investigat...","[""Signed,, Sealed,, Delivered"", introduces, a,...","Signed, Sealed, Delivered","[OliverOâ€™Toole, ShaneMcInerney, RitaHaywith]","[Comedy, Drama, Romance, TVMovie]",[ScottSmith]
4807,126186,[],"[When, ambitious, New, York, attorney, Sam, is...",Shanghai Calling,"[Sam, Amanda, Donald]",[],[DanielHsia]
4808,25975,"[obsession, camcorder, crush, dreamgirl]","[Ever, since, the, second, grade, when, he, fi...",My Date with Drew,"[Herself, Himself, Himself]",[Documentary],"[BrianHerzlinger, JonGunn, BrettWinn]"

In [30]:

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

C:\Users\TRUST\AppData\Local\Temp\ipykernel_8664\3770452025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [31]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [32]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))

In [33]:
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words="english")

In [35]:
Vectors = cv.fit_transform(new['tags']).toarray()

In [36]:
Vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [37]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [38]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [39]:
def stem(word):
    J =[]
    for i in word.split():
        J.append(ps.stem(i))
    return " ".join(J)

In [40]:
new['tags']=new['tags'].apply(stem)

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
slimilarity = cosine_similarity(Vectors)

In [43]:
slimilarity

array([[1.        , 0.09158438, 0.06003002, ..., 0.02423931, 0.02450715,
        0.        ],
       [0.09158438, 1.        , 0.06780635, ..., 0.02737928, 0.        ,
        0.        ],
       [0.06003002, 0.06780635, 1.        , ..., 0.0269191 , 0.        ,
        0.        ],
       ...,
       [0.02423931, 0.02737928, 0.0269191 , ..., 1.        , 0.06593805,
        0.04847862],
       [0.02450715, 0.        , 0.        , ..., 0.06593805, 1.        ,
        0.04901431],
       [0.        , 0.        , 0.        , ..., 0.04847862, 0.04901431,
        1.        ]])